<h1>マイページ</h1>
<table>
  <tbody>
	<tr>
	  <td><%= attachment_image_tag @user, :profile_image_id, size: "100x100", fallback: "no_image.jpg" %></td>
	  <td><%= @user.name %></td>
	</tr>
  </tbody>
</table>

<p><%= link_to "壁を登録" %></p>

